# CSV files
*.csv
*.log
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# Log files
*.log
log/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Database files
*.db
*.sqlite3
*.sqlite
*.sqlite3.db
*.sqlite3.db-journal
*.sqlite3.db-lock
*.sqlite3.db-wal
*.sqlite3.db-shm

# firmware files
firmware/

# reference files
ref/

# data files
data/
uniboardserver/
